<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="row">

    <div class="col-lg-4">
      <a href="{% static 'img/ogrod.png' %}">
        <img alt="picture" src="{% static 'img/ogrod.png' %}"
          class="img-fluid">
      </a>
    </div>
    <div class="col-lg-4">
        <a href="{% static 'img/ogrod1.png' %}">
          <img alt="picture" src="{% static 'img/ogrod1.png' %}"
            class="img-fluid">
        </a>
    </div>
    <div class="col-lg-4">
        <a href="{% static 'img/ogrod4.png' %}">
          <img alt="picture" src="{% static 'img/ogrod4.png' %}"
            class="img-fluid">
        </a>
    </div>
    <div class="col-lg-4">
        <a href="{% static 'img/ogrod3.png' %}">
          <img alt="picture" src="{% static 'img/ogrod3.png' %}"
            class="img-fluid">
        </a>
    </div>
    <div class="col-lg-4">
      <a href="{% static 'img/realizacja.png' %}">
        <img alt="picture" src="{% static 'img/realizacja.png' %}"
          class="img-fluid" />
      </a>
    </div>
    <div class="col-lg-4">
        <a href="{% static 'img/realizacja1.png' %}">
          <img alt="picture" src="{% static 'img/realizacja1.png' %}"
            class="img-fluid" />
        </a>
    </div>

    <div class="col-lg-4">
        <a href="{% static 'img/realizacja2.png' %}">
          <img alt="picture" src="{% static 'img/realizacja2.png' %}"
            class="img-fluid" />
        </a>
    </div>
    <div class="col-lg-4">
        <a href="{% static 'img/realizacja3.png' %}">
          <img alt="picture" src="{% static 'img/realizacja3.png' %}"
            class="img-fluid" />
        </a>
    </div>
    
    <div class="col-lg-4">
        <a href="{% static 'img/realizacja4.png' %}">
          <img alt="picture" src="{% static 'img/realizacja3.png' %}"
            class="img-fluid" />
        </a>
    </div>
</div>
      

{% endblock %}