<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container-fluid line-color">
        <div class="container">
            <h1 class="whitetext"> Galeria </h1>
        </div>
</div>

<div class="container-fluid">
    <div class="container space">
		<div class="row">

			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/ogrod.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/ogrod.png' %}" alt=""/>
				</a>
			</div>
			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/ogrod1.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/ogrod1.png' %}" alt=""/>
				</a>
			</div>

			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/ogrod4.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/ogrod4.png' %}" alt=""/>
				</a>
			</div>

		</div>

		<div class="row space">

			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/ogrod3.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/ogrod3.png' %}" alt=""/>
				</a>
			</div>
			
			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/realizacja.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/realizacja.png' %}" alt=""/>
				</a>
			</div>
			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/realizacja1.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/realizacja1.png' %}" alt=""/>
				</a>
			</div>

		</div>

		<div class="row space">

			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/realizacja2.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/realizacja2.png' %}" alt=""/>
				</a>
			</div>
			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/realizacja3.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/realizacja3.png' %}" alt=""/>
				</a>
			</div>
			<div class="col-lg-4">
				<a class="example-image-link" href="{% static 'img/realizacja4.png' %}" data-lightbox="example-set" data-title="Kliknij prawą strzałkę aby przejść dalej.">
					<img class="example-image img-fluid" src="{% static 'img/realizacja4.png' %}" alt=""/>
				</a>
			</div>
		</div>

		<!-- solved the "space" problem-->
		<div class="row space">		
		</div>
	</div>
	
</div>
	
	
</script>



{% endblock %}