<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="gallery">
    <a href="">
        <img src="{% static 'img/ogrod.png' %}">
    </a>
    <a href="{% static 'img/ogrod1.png' %}">
        <img src="{% static 'img/ogrod1.png' %}">
    </a>
    <a href="{% static 'img/ogrod2.png' %}">
        <img src="{% static 'img/ogrod2.png' %}">
    </a>
    <a href="{% static 'img/ogrod3.png' %}">
        <img src="{% static 'img/ogrod3.png' %}">
    </a>
    <a href="{% static 'img/ogrod4.png' %}">
        <img src="{% static 'img/ogrod4.png' %}">
    </a>
    <a href="">
        <img src="{% static 'img/realizacja.png' %}">
    </a>
    <a href="{% static 'img/realizacja1.png' %}">
        <img src="{% static 'img/realizacja1.png' %}">
    </a>
    <a href="{% static 'img/realizacja2.png' %}">
        <img src="{% static 'img/realizacja2.png' %}">
    </a>
    <a href="{% static 'img/realizacja3.png' %}">
        <img src="{% static 'img/realizacja3.png' %}">
    </a>
    <a href="{% static 'img/realizacja4.png' %}">
        <img src="{% static 'img/realizacja4.png' %}">
    </a>
</div>

<div class="row">
        <div class="col-md-12">
      
          <div id="mdb-lightbox-ui"></div>
      
          <div class="mdb-lightbox no-margin">
      
            <figure class="col-md-4">
              <a href="{% static 'img/ogrod.png' %}" data-size="1600x1067">
                <img alt="picture" src="{% static 'img/ogrod.png' %}"
                  class="img-fluid">
              </a>
            </figure>
      
            <figure class="col-md-4">
                <a href="{% static 'img/ogrod1.png' %}" data-size="1600x1067">
                  <img alt="picture" src="{% static 'img/ogrod1.png' %}"
                    class="img-fluid">
                </a>
            </figure>
      
            <figure class="col-md-4">
                <a href="{% static 'img/ogrod2.png' %}" data-size="1600x1067">
                  <img alt="picture" src="{% static 'img/ogrod2.png' %}"
                    class="img-fluid">
                </a>
            </figure>
      
            <figure class="col-md-4">
                <a href="{% static 'img/ogrod3.png' %}" data-size="1600x1067">
                  <img alt="picture" src="{% static 'img/ogrod3.png' %}"
                    class="img-fluid">
                </a>
            </figure>

            <figure class="col-md-4">
                <a href="{% static 'img/ogrod4.png' %}" data-size="1600x1067">
                  <img alt="picture" src="{% static 'img/ogrod4.png' %}"
                    class="img-fluid">
                </a>

            </figure>
      
            <figure class="col-md-4">
              <a href="{% static 'img/realizacja.png' %}" data-size="1600x1067">
                <img alt="picture" src="{% static 'img/realizacja.png' %}"
                  class="img-fluid" />
              </a>
            </figure>
      
            <figure class="col-md-4">
                <a href="{% static 'img/realizacja1.png' %}" data-size="1600x1067">
                  <img alt="picture" src="{% static 'img/realizacja1.png' %}"
                    class="img-fluid" />
                </a>
            </figure>
        
            <figure class="col-md-4">
                <a href="{% static 'img/realizacja2.png' %}" data-size="1600x1067">
                  <img alt="picture" src="{% static 'img/realizacja2.png' %}"
                    class="img-fluid" />
                </a>
            </figure>
      
            <figure class="col-md-4">
                <a href="{% static 'img/realizacja3.png' %}" data-size="1600x1067">
                  <img alt="picture" src="{% static 'img/realizacja3.png' %}"
                    class="img-fluid" />
                </a>
            </figure>
      
          </div>
      
        </div>
      </div>

{% endblock %}