{% extends "base.html" %}

{% block page_content %}

System check identified no issues (0 silenced).
June 04, 2019 - 08:26:29
Django version 2.2.1, using settings 'company_portfolio.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.
/home/kasia/Dokumenty/GreenWeb/rp-portfolio/company_portfolio/settings.py changed, reloading.
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).
June 04, 2019 - 08:30:07
Django version 2.2.1, using settings 'company_portfolio.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.
^[[A^[[BNot Found: /
[04/Jun/2019 08:34:29] "GET / HTTP/1.1" 404 2041
/home/kasia/Dokumenty/GreenWeb/rp-portfolio/company_portfolio/urls.py changed, reloading.
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silen
{% endblock %}