{% load staticfiles %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-green">
            <div class="container">
                <a class="navbar-brand font-weight-bold" href="{% url 'homepage' %}">
                    <img src="{% static 'img/logo.png' %}" class="nav-img" alt="">
                    Natura
                </a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse w-100 order-3" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'homepage' %}">
                            Strona główna
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'company' %}">
                             O firmie   
                            </a>
                        </li>
    
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'project_index' %}">
                                Oferty
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'gallery' %}">
                                Galeria
                            </a>
                        </li>        
                    </ul>
                </div>
            </div>
        
        </nav>      
    </header>
    <article>    
        {% block page_content %}{% endblock %}
    </article>

    <footer class="page-footer font-small teal pt-2">
        <div class="container-fluid text-center text-md-center">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <h6 class="font-weight-bold"> Zakład Utrzymania i Urządzania Zieleni "NATURA" </h6>
                    <hr class="col-md-4 mt-3">
                    <p>
                        Nasza firma zapewnia usługi na terenie Warszawy i okolic.
                    </p>
                </div> 

                <hr class="clearfix w-100 d-md-none pb-3"/>       
                
                <div class="col-md-6 mt-3">
                    <h6 class="font-weight-bold"> Kontakt </h6>
                    <hr class="col-md-4 mt-3">
                    <div class="row">
                        <div class="col mt-3">
                            <p align="left">
                                <img src="{% static 'img/home.png' %}" class="footer-img" align="middle"> Żymirskiego 1/41, 04-045 Warszawa
                            </p>
                            <p align="left">
                                <img src="{% static 'img/mail.png' %}" class="footer-img" align="middle"> dcz3@o2.pl</p>
                            </p>
                            <p align="left">
                                <img src="{% static 'img/phone.png' %}" class="footer-img" align="middle"> 501 047 478</p>
                            </p>
                        </div>
                        <div class="col mt-3 text-left">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.6727604213897!2d21.079399016105654!3d52.231162879760596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd98c31328c5%3A0x14a20f4369c77907!2sFranciszka+%C5%BBymirskiego+1%2C+04-045+Warszawa!5e0!3m2!1sen!2spl!4v1559840865546!5m2!1sen!2spl" width=80% height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>                       
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>